<header class="header1">
  <div class="logo1">
    <%= link_to image_tag("logo1.PNG", class:"ecshop-icon1"), "#" %>
  </div>
  <div class="nav1">
    <ul class="buttons">
      <%# if user_signed_in? %>
      <li><%= link_to 'ログイン', "#", class: "user-button" %></li>
      <li><%= link_to '新規登録', "#", class: "user-button" %></li>
      <%# else %>
      <li><%#= link_to 'ログアウト', "#", class: "user-button" %></li>
      <%# end %>
    </ul>
    <div class="to-seller">
      <div class="to-seller-info">
        販売者様はこちら
      </div>
      <div>
        >><%= link_to '販売者専用ページ', "#", class: "to-seller-button" %>
      </div>
    </div>
  </div>



</header>