<header class="header1">
  <div class="logo1">
    <%= link_to image_tag("logo1.PNG", class:"ecshop-icon1"), "#" %>
  </div>
  <div class="for-seller">
    〜販売者様専用ページ〜
  </div>
  <div class="nav1">
    <ul class="buttons">
      <%# if seller_signed_in? %>
      <li><%#= link_to '販売者ログイン', "#", class: "seller-button" %></li>
      <%# else %>
      <li><%= link_to '販売者ログアウト', "#", class: "seller-button" %></li>
      <%# end %>
    </ul>
  </div>
</header>