<div class="item-seller-small">
  <div class="item--seller-small-image">
    <%= image_tag "negigyu.JPG" ,class: "item-seller-small-image" %>
  </div>
  <div class="item-seller-small-info">
    <div class=item-seller-small-name>ネギ塩豚丼セット</div>
    <div class="item-seller-small-row2">
      <div class="item-seller-small-seller">松屋南草津店</div>
      <div class="item-seller-small-stock">在庫 10 セット</div>
    </div>
  </div>
</div>