<div class="item-seller-small">
  <div class="item--seller-small-image">
    <%= image_tag "negigyu.JPG" ,class: "item-seller-small-image" %>
  </div>
  <div class="item-seller-small-info">
    <div class=item-seller-small-name><%= link_to 'ネギ塩豚丼セット',"#",class:"edit-button-link"%></div>
    <div class="item-seller-small-row2">
      <div class="item-seller-small-seller"><%= link_to '松屋南草津店',"#",class:"edit-button-link"%></div>
      <div class="item-seller-small-stock">在庫 10 セット</div>
    </div>
  </div>
</div>