<div class="item-seller-small">
  <div class="item--seller-small-image">
    <%= image_tag @item.image ,class: "item-seller-small-image" %>
  </div>
  <div class="item-seller-small-info">
    <div class=item-seller-small-name><%= link_to @item.name, item_path(@item.id),class:"edit-button-link"%></div>
    <div class="item-seller-small-row2">
      <div class="item-seller-small-seller"><%= link_to @item.seller.store_name, seller_path(@item.seller.id),class:"edit-button-link"%></div>
      <div class="item-seller-small-stock">在庫 <%= @item.stock.count %> セット</div>
    </div>
  </div>
</div>