.body-include-sidebar{
  display: flex;
}

.main-body{
  width: calc(100vw - 250px);
  background-color: #f8f7f5;
}

.main-body-body{
  margin: 30px;
}


.main-body-title{
  font-size: 30px;
  margin-bottom: 20px;
}

.error-alert{
  color: red;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  padding-bottom: 10px;
}

.alert{
  color: red;
  font-size: 20px;
}

.notice{
  font-size: 20px;
  margin: 20px 0 10px 30px;
}