<div class="top-body">
  <div class="top-main-text">食べる幸せを<br>食卓に 。</div>
  <div class="right-box">
    <div class="up-box">
      <div class="top-text">商品をお探しですか？</div>
      <div class="top-button-box">
        <%= link_to '商品を探す', "#", class: "top-button-up" %>
      </div>
    </div>
    <div class="down-box">
      <div class="top-text">商品を出品してみませんか？</div>
      <div class="top-button-box">
        <%= link_to '販売はこちら', "#", class: "top-button-down" %>
      </div>
    </div>
  </div>
</div>